
$red-color: red;
$blue-color: blue;
$green-color: green;


$color-primary: red;
$color-tertiary: green;

// Styles for .exercise container
.exercise {
  border: 1px solid $color-primary;

  .exercise-title {
    color: $color-tertiary;
  }
}

.layout {
  display: flex;
  justify-content: space-between;

  .section {
    flex: 1;
    padding: 20px;
    color: white;
    font-size: 18px;
    text-align: center;

    &.red {
      background-color: $red-color;
    }

    &.blue {
      background-color: $blue-color;
    }

    &.green {
      background-color: $green-color;
    }
  }
}